*.apk filter=lfs diff=lfs merge=lfs -text
*.7z filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/addon/apk/**/*.apk filter=lfs diff=lfs merge=lfs -text
selfdrive/assets/addon/apk/**/*.7z filter=lfs diff=lfs merge=lfs -text
